<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="dashboard.css">
</head>
<body>
    <header id="target" class="wrapper">
        <div>
            <div class="container">
                <div class="main-head  d-flex flex-row">
                    <div class="dash-logo">
                        <img src="https://vishnu.edu.in/images/logo_red.png" required/>
                        <br>
                        <span class="accred">Accredited by<span class="naac"><b> NAAC 'A+'</b></span>(3.51 CGPA) & &nbsp;<span class="nba"><b>NBA</b></span></span>
                    </div>
                    <nav class="sub-nav ml-auto d-flex flex-row">
                        <div class="d-flex flex-row custom-button">
                            <a href="loginSignup" class="logout-button">Login/Signup</a>
                        </div>  
                        <div class="d-flex flex-row custom-button">
                            <a href="adminLogin" class="logout-button">admin Login</a>
                        </div>  
                    </nav>
                </div>   
            </div>
            <div class="mid-image">
                <img src="https://th.bing.com/th/id/R.6d3d2ce5c857999115961017990e5282?rik=5zEfKZRdApyW0A&riu=http%3a%2f%2fwww.gcedpi.edu.in%2fsites%2fgcedpi.edu.in%2ffiles%2fimages%2fDSC00874.JPG&ehk=80groIXtkXR1%2bd49fWrfgQSDKHqhhUU5XePXhVerkk8%3d&risl=&pid=ImgRaw&r=0" class="w-100" height="500"/>
            </div>
            <div class="container">
                <div class="hostel-con">
                    <h1 class="hostel-head">Hostels</h1>
                    <img src="https://vishnu.edu.in/images/hostels1.jpg" align="right" height="230" class="image1" width="450"/>
                    <p class="p1">With a key focus on developing a self-sustained residential campus, Hostel facility is provided with separate accommodation for Male and Female students, with fully furnished AC and Non AC (2 bed & 3 bed) rooms having attached bath, balcony and a common Dining Hall as well as Audio-Visual Lounge.</p>
                    <p class="p2">The object of the Hostel is to provide suitable and comfortable accommodation for deserving students from Andhra Pradesh and outside the State. The Hostel has a number of blocks to accommodate exclusively for girl students. Ideal hostel facility with homely atmosphere is provided within the campus. Many recreation facilities are also provided.</p>
                </div>
                <div class="sub-con">
                    <h1 class="sub-head">Ideal Hostel Facilities</h1>
                    <ul class="list-rules">
                        <li class="l1">To improve their General Knowledge, Newspapers and Educative Periodicals are provided in the reading room.</li>
                        <li class="l1">Reading room / T.V. Room is provided separately in each block. It will be operated during stipulated hours.</li>
                        <li class="l1">Indoor / outdoor games are provided in the hostel. Pictures are screened regularly in the auditorium.</li>
                        <li class="l1">Every care is taken by the Administration Team & Management for the safety and security of the students during their stay in the hostels.</li>
                        <li class="l1">Mess with a modern kitchen and spacious Air-Conditioned dining halls are attached to the hostel.</li>
                        <li class="l2">In case of serious illness or for the treatment suggested by the specialist doctor, the Management provides transport facilities for admitting him/her to a Nursing Home / Hospital at his / her own cost.</li>
                        <li class="l1">Mess with a modern kitchen and spacious Air-Conditioned dining halls are attached to the hostel.</li>
                        <li class="l1">Mess with a modern kitchen and spacious Air-Conditioned dining halls are attached to the hostel.</li>
                    </ul>
                </div>
                <div class="row hostelnames">
                    <div class="col-6">
                        <h2>Boys Hostels</h2>
                        <ul>
                            <li>ASR</li>
                            <li>VSR</li>
                            <li>CVR</li>
                            <li>VVK</li>
                            <li>VSR</li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <h2>Girls Hostels</h2>    
                        <ul>
                            <li>Sumedha</li>
                            <li>Sahithi</li>
                            <li>Triveni</li>
                            <li>Ganga</li>
                        </ul>
                    </div>
                </div>
                <div class="sub2-con">
                    <h1 class="sub2-head">CODE OF CONDUCT AND DISCIPLINE</h1>
                    <p class="sub2-para">Rules for conduct and discipline for students of Institutes</p>
                </div>
                <div class="nav-buttons">
                        <div class="bg-container">
                            <div class="con">
                                <div class="row">
                                    <div class="col-12 col-lg-7">
                                        <div class="d-flex flex-row justify-content-between">
                                            <button class="button selected-button" id="aboutButton" onclick="about()">
                                                1 YEAR GUIDELINES
                                            </button>
                                            <button class="button" id="timeToVisitButton" onclick="timetovisit()">
                                                ADMISSION
                                            </button>
                                            <button class="button" id="attractionsButton" onclick="attractions()">
                                                ACCOMODATION
                                            </button>
                                            <button class="button" id="policiesButton" onclick="policies()">
                                                DISCIPLINE POLICIES
                                            </button>
                                        </div>
                                        <div class="container">
                                            <div class="" id="GuidelinesTab">
                                                <p class="tab-content">
                                                    <h2>1 Year Guidelines</h2>
                                                        <span>&#x2192;&emsp;Students have to pay one month fee and an admission fee of Rs.5,000/- (for the students who are coming for new admission) at the time of hostel allotment.</span>
                                                        </br>
                                                        <span>&#x2192;&emsp;Students who want to stay in the hostel shall submit their parents' consent that there is no objection to the parents for their wards' stay in the hostel.</span>
                                                        </br>
                                                        <span>&#x2192;&emsp;Hostel stay duration, hostel block and room allotted will be for a temporary period.</span>
                                                        </br>
                                                        <span>&#x2192;&emsp;Every student who wants to stay in the hostel shall bring his/her own mattress, pillow, bedsheets, bucket and mugs for his/her own use. Beds only will be provided in the room.</span>
                                                        </br>
                                                        <span>&#x2192;&emsp;After payment of the hostel fee only, temporary hostel admission will be given and room will be allotted to check-in.</span>
                                                        </br>
                                                        <span>&#x2192;&emsp;Students must wear masks and follow social distancing while in the college as well as in the hostel campus and messes.</span>
                                                        </br>
                                                        <span>&#x2192;&emsp;All Covid-19 precautionary steps are being followed at the entrance of the campus, college, library, hostels, messes, etc. and students and parents shall cooperate with the college / hostel / security staff in this regard.</span>
                                                        </br>
                                                        <span>&#x2192;&emsp;For the first time, parents shall come to the college along with the students who want to stay in the campus hostel. They should bring passport size color photos and aadhar cards of the students and parents.</span>
                                                        </br>
                                                        <span>&#x2192;&emsp;Hostel Wardens:
                                                        </br> 
                                                        Mr. Padmanabhan (Boys) - 9849922xxx
                                                        </br>
                                                        Ms Sridevi (Girls) - 08816 25xxxx</span>
                                                </p>
                                            </div>
                                            <div class="d-none" id="AdmissionTab">
                                                <p class="tab-content">
                                                    <h2>Admission</h2>
                                                        <span>&#x2192;&emsp;Admission to the Hostel shall be made in the prescribed form, which can be had from the SVES Hostel Office, along with prospectus.</span></br>
                                                        <span>&#x2192;&emsp;The Hostel is under the Management of the Chairman, Sri Vishnu Educational Society, Bhimavaram. He nominates the Hostel Committee and the Warden functions as per the directions of the Chairman of the Committee.</span></br>
                                                        <span>&#x2192;&emsp;The Warden reserves the right to effect any changes that may be felt necessary in routine matters of the Hostel.</span></br>
                                                        <span>&#x2192;&emsp;Admission is open to the students studying in the colleges located in Vishnupur, Bhimavaram run by Sri Vishnu Educational Society and Padmabushan Dr. B.V.Raju Foundation.</span></br>
                                                        <span>&#x2192;&emsp;The students should acquaint themselves thoroughly with the Rules and Regulations of the Hostel before seeking admission.</span></br>
                                                        <span>&#x2192;&emsp;The Hostel Committee reserves the right to admit or reject a candidate without assigning any reasons and to expect any student, if found not amenable to discipline.</span></br>
                                                        <span>&#x2192;&emsp;The Parents or guardians of the selected students must be present with them at the time of admission.</span></br>
                                                        <span>&#x2192;&emsp;Rooms are allotted to the students by the warden following specific guidelines framed by the committee.</span></br>
                                                        <span>&#x2192;&emsp;Students, selected for admission, shall join the Hostel on or before the due date, after paying the prescribed fees, failing which their seats shall be forfeited.</span></br>
                                                        <span>&#x2192;&emsp;Once a student pays the prescribed fee to the Bank, he / she are deemed to have been admitted to the Hostel. I.D. Cards are issued to the hostel students. He / She are eligible for refund of caution deposit and mess advance, if any, when he /she leaves the Hostel after admission or on transfer etc.</span></br>
                                                        <span>&#x2192;&emsp;Students who have not secured eligibility to go to the next higher semester / class shall leave the Hostel immediately. The amount paid at the time of admission shall not be refunded except the amount paid against the Mess Advance and Caution Deposit.</span></br>
                                                        <span>&#x2192;&emsp;Admissions are made afresh to the hostel every year. Students who apply for readmission in the Hostel should attach marks cards of previous year / semesters (odd or even) along with the application form. They however need not pay the admission fee. They are admitted only after clearing the dues/ arrears, if any.</span></br>
                                                        <span>&#x2192;&emsp;Four stamp size recent color photographs should be submitted along with the application form. Any student, who vacates the hostel in the middle of the year on any personal ground, will not be readmitted during the rest of the course, unless approved by the committee.</span></br>
                                                        <span>&#x2192;&emsp;Students suffering from contagious diseases / drug addicts are not eligible for admission. If after admission students, found to be having contagious diseases and drug addicts, shall be sent out of the Hostel immediately. He /she is eligible for refund of money as per Rule No.9 of Admission.</span></br>
                                                        <span>&#x2192;&emsp;Before actual admission, every student shall give a written undertaking that he / she will abide by the Rules and Regulations of the Hostel.</span></br>
                                                        <span>&#x2192;&emsp;Adhere to the discipline enforced by the Authorities from time to time, and Be responsible for the safety and maintenance of the furniture, tube lights, ceiling fans and other equipments provided in the Hostel.</span></br>
                                                        <span>&#x2192;&emsp;The undertaking shall be endorsed, in writing, by the Parent orGuardian of the Student.</span>
                                                </p>
                                            </div>
                                            <div class=" d-none" id="attractionsTab">
                                                <p class="tab-content ">
                                                    <h2>Accomodation</h2>
                                                        <span>&#x2192;&emsp;Three students are normally accommodated in each room. Each room is provided with necessary cots, tables, chairs, racks, a ceiling fan and a tube light etc.</span></br>
                                                        <span>&#x2192;&emsp;The allotment of room shall be done by the warden in consultation with the Hostel Committee.</span></br>
                                                        <span>&#x2192;&emsp;After the admissions are over and if any rooms are left vacant such rooms shall be allotted to the Boarders who desire to have a single room on an additional payment.</span></br>
                                                        <span>&#x2192;&emsp;After allotment of the rooms, if any Boarder changes the room without the written orders of the Warden, she shall be liable for dismissal from the Hostel or a fine of Rs.1000 or both.</span></br>
                                                        <span>&#x2192;&emsp;Hostel furniture shall not be shifted from one room to another room under any circumstances. Boarders are responsible for the care of the furniture and fittings provided in their rooms.</span></br>
                                                        <span>&#x2192;&emsp;Boarders leaving the Hostel shall handover the articles, given to them at the time of admission, to the Warden or his/her authorized person and obtain a certificate to that effect. Any Boarder who fails to do so, shall not only pay for any damages or losses but also be liable to a fine of not less than Rs.800 (Rupees Eight Hundred only) at the discretion of the warden.</span></br>
                                                        <span>&#x2192;&emsp;No Boarder shall be allowed to stay outside the Hostel. They shall obtain written permission from the Warden before they leave the Hostel.</span></br>
                                                        <span>&#x2192;&emsp;Every Boarder shall equip herself with bedding, Mosquito net or curtain, a table cloth, a mug, bucket etc. Boarders shall not use their own utensils like drinking water glasses or tumblers, coffee glass/ cups, spoons, plates etc., in the dining hall. These shall be supplied by the Management.</span></br>
                                                        <span>&#x2192;&emsp;Boarders are not permitted to use any electrical appliance like electric iron, water heater, and stove. They are not allowed to make private arrangements for any special comfort. If such things are observed, they are liable for dismissal from the Hostel along with a fine of Rs.1500/-(Rupees One Thousand Five Hundred only).</span></br>
                                                        <span>&#x2192;&emsp;Each room is provided with switches, tube light, Ceiling fan with regulator etc. Any replacement due to breakages etc., shall be made good by the Management at the cost of the boarders.</span></br>
                                                        <span>&#x2192;&emsp;Each room is provided with a door along with shutters, shelves / racks and suitable glass panes to the windows and ventilator shutters along with fixture and fittings. They shall be maintained safely by the boarders of the respective rooms failing which they shall be charged with the cost of materials, fixtures, labor charges etc., and the same shall be deducted from the caution deposit/mess advance.</span></br>
                                                        <span>&#x2192;&emsp;The Security person/staff authorized by the warden have every right to check the belongings of the Boarders at the time of vacating the Hostel for short and long term vacations / dismissal from the Hostel in order to safe guard the property of the management.</span></br>
                                                        <span>&#x2192;&emsp;In case of doubt or suspicion, the Security persons/ staff authorized by the Warden shall have the powers to check the belongings of the Boarders at any time and also while going out of the Hostel on ordinary days.</span></br>
                                                        <span>&#x2192;&emsp;If any complaints are received by the warden regarding the violation of the above rules, disciplinary action will be initiated against such boarders and they shall be made responsible for the loss / theft of articles belonging to the managements along with a minimum fine of Rs.1500 (One thousand Five Hundred Only).</span>
                                                </p>
                                            </div>
                                            <div class="d-none" id="policiesTab">
                                                <p class="tab-content ">
                                                    <h2>Discipline Policies</h2>
                                                        <span>&#x2192;&emsp;Discipline, to be observed in the Hostel, shall be as per the direction of the Hostel Committee and the Warden. Students should observe strict discipline and timings in the Hostel.</span></br>
                                                        <span>&#x2192;&emsp;Students are not allowed to stay in the Hostel during college hours without the prior permission of the Hostel / College authorities.</span></br>
                                                        <span>&#x2192;&emsp;They are not allowed to use T.V., Radio, Transistor or Tape Recorder in their rooms. If such things are noticed, disciplinary action will be initiated along with a minimum fine of Rs.500/- each time.</span></br>
                                                        <span>&#x2192;&emsp;RAGGING in any form in the Hostel premises or in the Campus is an offence as per the Constitution and is prohibited. Any one found indulging in such detrimental activities shall be handed over to the police and is liable for expulsion / dismissal from the Hostel / College immediately along with a minimum fine of Rs.4000/- (Rupees Five Hundred Only).</span></br>
                                                        <span>&#x2192;&emsp;Defacing the walls or the doors should be avoided. Any willful damage done to the property of the Hostel by boarder will entail for his / her dismissal from the Hostel along with a minimum fine of Rs.500/- (Rupees Five Hundred Only)</span></br>
                                                        <span>&#x2192;&emsp;Defacing / rewriting the Memos / Notifications should be avoided. If any such things are noticed by the Warden / Staff, the same will be viewed seriously.</span></br>
                                                        <span>&#x2192;&emsp;The main gates of the Hostel Building shall be opened only after 6:00 A.M and all the entrance gates of the Hostel shall be closed at 9:00 P.M.</span></br>
                                                        <span>&#x2192;&emsp;If any Boarder comes late and demands the Security Staff to open the gate, disciplinary action shall be taken against him/her and also a minimum fine of Rs.250/- is levied for the first time without conducting any enquiry.</span></br>
                                                        <span>&#x2192;&emsp;If the same is repeated for the second time a fine of Rs.500/- will be levied on such Boarders with a show cause notice.</span></br>
                                                        <span>&#x2192;&emsp;If any Boarder Continues to create indiscipline and does not obey the rules and regulations of the Hostel, he / she will be sent out of the hostel along with a minimum fee of Rs.1000.</span></br>
                                                        <span>&#x2192;&emsp;Parents or their authorized guardians with I.D. cards are permitted to visit the hostel between 9.00 am and 6.00pm only on holidays. Boarders are permitted to leave the hostel and accompany their parents or authorized guardians with I.D. Cards, only once in a month on specified days.</span></br>
                                                        <span>&#x2192;&emsp;In extraordinary cases, they may be permitted, if a parent / local guardian of another student hailing from the same area accepts the responsibility to accompany. Students not returning on due date after outings / holidays more than twice will be denied the hostel facilities during subsequent years.</span></br>
                                                        <span>&#x2192;&emsp;Students are not permitted to go on pilgrimage during working days.</span></br>
                                                        <span>&#x2192;&emsp;Staying over night outside the Hostel is strictly forbidden. Absence from the Hostel at night without prior written permission from the Warden shall result in dismissal of the boarder concerned along with a fine of Rs.500/- (Rupees Five Hundred Only).</span></br>
                                                        <span>&#x2192;&emsp;Boarders are not permitted to leave the Hostel premises after 9-00pm without the orders of the Warden.</span></br>
                                                        <span>&#x2192;&emsp;Boarders shall not issue orders to the Hostel Staff or interfere in their work. Causes of misconduct by Hostel Employees shall immediately be reported to the Warden with full particulars in writing. The warden shall make enquiries and take suitable action there on.</span></br>
                                                        <span>&#x2192;&emsp;Boarders shall not give tips to Hostel staff.</span></br>
                                                        <span>&#x2192;&emsp;Boarders are not allowed to put up notices or convene meetings of any sort within the premises of Hostel / Campus. They shall not join any Club / Society /Association except the College Associations, without obtaining a written permission from the Warden.</span></br>
                                                        <span>&#x2192;&emsp;If the Boarders wish to celebrate Hostel day, they should obtain prior written permission from the warden. The Hostel Day shall be celebrated only on any Holiday. The Hostel mess shall not work on that day evening and the dinner is cancelled.</span></br>
                                                        <span>&#x2192;&emsp;Students are not permitted to celebrate birthday parties in the college premises. They may arrange the parties in the hostel before 8.30pm after informing the Warden. A boarder whose name is removed from the college rolls has got no right to occupy a room in the hostel. The warden has full powers to expel such boarders from the hostel.</span></br>
                                                        <span>&#x2192;&emsp;A boarder, who fails to secure eligibility to go to the next higher semester, is not permitted to stay in the hostel. Refund of amount paid at the time of admission shall be based on rule 9 of Admission.</span></br>
                                                        <span>&#x2192;&emsp;The boarder who have arrears of previous month shall not be eligible to stay in the Hostel and shall vacate the rooms on or before 1st of next month. They shall claim their refund of advance made towards boarding and Caution Deposit, only after vacating the rooms. This shall also be applicable for Boarder who are dismissed from the Hostel.</span></br>
                                                        <span>&#x2192;&emsp;If any boarder leaves the Hostel after 1st day of the Month, he /she shall wait upto 15th of next month for refund of deposits paid towards Mess Advance and Caution Deposit.</span></br>
                                                        <span>&#x2192;&emsp;Students are permitted to go to their native places only during vacations and are not permitted to leave the hostel during normal / preparation holidays. Use of ALCOHOL in the room, in the Hostel Premises / Campus is strictly prohibited. Further, students are not permitted to enter the Hostel after consuming Alcohol. If any such incidence is observed or reported by the Residential Warden or by the Authorised Staff, it will be viewed seriously and proper action shall be taken by the Warden in consultation with the Hostel Committee on such Boarders. in this connection a minimum fine of Rs.3000/- shall be levied on such Boarders. Smoking is strictly prohibited in hostel and campus.</span></br>
                                                        <span>&#x2192;&emsp;The warden has a right to correspond or intimate the parents of Boarders on any matter pertaining to the Hostel and academic affairs.</span></br>
                                                        <span>&#x2192;&emsp;Playing cards or any game in the room is strictly prohibited. If detected, the warden has a right to expel such Boarders from the Hostel without giving any warning. However a minimum fine of Rs.2, 500/- shall be levied and collected from such Boarders.</span></br>
                                                        <span>&#x2192;&emsp;No Boarder shall be allowed to bring his / her friends, classmates, parents and relatives to the rooms without the written permission of the Warden. If such things are noticed or brought to the notice of the Warden, disciplinary action shall be taken against such Boarder along with a minimum fine of Rs.500/-. Guests shall not be allowed to stay in the Hostel, under any circumstances.</span></br>
                                                        <span>&#x2192;&emsp;No Boarder is permitted to engage or keep his / her own servant in the Hostel.</span></br>
                                                        <span>&#x2192;&emsp;Boarders, in their own interest, are advised not to keep money / valuables (Watches, Calculators, Jewels etc.,) in their rooms without locking whenever they go out. The Management shall not be responsible for any such losses and no such complaints will be entertained for enquiry either by the Warden or by the Management.</span></br>
                                                        <span>&#x2192;&emsp;The inmates of the room shall have their own lock and keys. Whenever they go out of the room, they shall lock the room and leave.</span></br>
                                                        <span>&#x2192;&emsp;Only authorized visitors are allowed to see the students on Holidays between 9-00 am and 6-00 pm.</span></br>
                                                        <span>&#x2192;&emsp;Periodical visits by Parents / Guardians to the Hostel for discussion with the Warden are highly appreciated.</span></br>
                                                        <span>&#x2192;&emsp;Cell Phones are not permitted in the hostel without written permission. Unauthorised phones will be confiscated.</span></br>
                                                        <span>&#x2192;&emsp;The college/hostel officials reserve the right to screen the suspicious letters addressed to the students.</span></br>
                                                        <span>&#x2192;&emsp;Every Boarder is expected to cooperate whole heartedly in maintaining the Hostel's peaceful atmosphere.</span></br>
                                                        <span>&#x2192;&emsp;In all matters concerning admission, interpretation of the rules, disciplinary action etc., the decision of the hostel committee shall be final. We trust that the parents and guardians whole - heartedly cooperate in maintaining and enforcing the discipline.</span>   
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>   
            <div>
                <h1 class="last-head">Few About Our Website</h1>
                <%- include("../components/footer")%>
            </div>  
        </div>
    </header>
</body>
<script>
    function about() {
    document.getElementById("GuidelinesTab").classList.add("d-inline");
    document.getElementById("AdmissionTab").classList.remove("d-inline");
    document.getElementById("attractionsTab").classList.remove("d-inline");
    document.getElementById("policiesTab").classList.remove("d-inline");
    document.getElementById("aboutButton").style.backgroundColor="red";
    document.getElementById("aboutButton").style.color="white";
    let buttons=["attractionsButton","timeToVisitButton","policiesButton"];
    for(let a=0;a<buttons.length;a++){
        document.getElementById(buttons[a]).style.backgroundColor="whitesmoke";
        document.getElementById(buttons[a]).style.color="black";

    }

}

function timetovisit() {
    document.getElementById("AdmissionTab").classList.add("d-inline");
    document.getElementById("GuidelinesTab").classList.add("d-none");
    document.getElementById("GuidelinesTab").classList.remove("d-inline");
    document.getElementById("attractionsTab").classList.add("d-none");
    document.getElementById("attractionsTab").classList.remove("d-inline");
    document.getElementById("policiesTab").classList.add("d-none");
    document.getElementById("policiesTab").classList.remove("d-inline");
    document.getElementById("timeToVisitButton").style.backgroundColor="red";
    document.getElementById("timeToVisitButton").style.color="white";
    let buttons=["aboutButton","attractionsButton","policiesButton"];
    for(let a=0;a<buttons.length;a++){
        document.getElementById(buttons[a]).style.backgroundColor="whitesmoke";
        document.getElementById(buttons[a]).style.color="black";

    }
}

function attractions() {
    document.getElementById("attractionsTab").classList.add("d-inline");
    document.getElementById("AdmissionTab").classList.add("d-none");
    document.getElementById("AdmissionTab").classList.remove("d-inline");
    document.getElementById("GuidelinesTab").classList.add("d-none");
    document.getElementById("GuidelinesTab").classList.remove("d-inline");
    document.getElementById("policiesTab").classList.add("d-none");
    document.getElementById("policiesTab").classList.remove("d-inline");
    document.getElementById("attractionsButton").style.backgroundColor="red";
    document.getElementById("attractionsButton").style.color="white";
    let buttons=["aboutButton","timeToVisitButton","policiesButton"];
    for(let a=0;a<buttons.length;a++){
        document.getElementById(buttons[a]).style.backgroundColor="whitesmoke";
        document.getElementById(buttons[a]).style.color="black";

    }
}
function policies() {
    document.getElementById("policiesTab").classList.add("d-inline");
    document.getElementById("GuidelinesTab").classList.add("d-none");
    document.getElementById("GuidelinesTab").classList.remove("d-inline");
    document.getElementById("AdmissionTab").classList.add("d-none");
    document.getElementById("AdmissionTab").classList.remove("d-inline");
    document.getElementById("attractionsTab").classList.add("d-none");
    document.getElementById("attractionsTab").classList.remove("d-inline");
    document.getElementById("policiesButton").style.backgroundColor="red";
    document.getElementById("policiesButton").style.color="white";
    let buttons=["aboutButton","timeToVisitButton","attractionsButton"];
    for(let a=0;a<buttons.length;a++){
        document.getElementById(buttons[a]).style.backgroundColor="whitesmoke";
        document.getElementById(buttons[a]).style.color="black";

    }
}
</script>
</html>