<ul>
    <% for (let i = 0; i < bookedData.length; i++) { %>
        <li>
            <strong>Hostel Floor:</strong> <%= bookedData[i].hostelFloor %><br>
            <strong>Hostel Name:</strong> <%= bookedData[i].hostelName %><br>
            <strong>Hostel Room:</strong> <%= bookedData[i].hostelRoom %><br>
            <strong>User Name:</strong> <%= bookedData[i].userName %><br>
        </li>
    <% } %>
</ul>