<div class="formContainer">
    <div class="form">
        <form action="/bookRoom" method="post">
            <div class="input">
                <label for="hostelName">Enter Hostel Name : </label><br>
                <input name="hostelName" type="text" id="hostelName" required>
            </div>
            <div class="input">
                <label for="hostelFloor">Enter Hostel Floor Number : </label><br>
                <input name="hostelFloor" type="number" id="hostelFloor" required>
            </div>
            <div class="input">
                <label for="hostelRoom">Enter Hostel Room Number : </label><br>
                <input name="hostelRoom" type="number" id="hostelRoom" required>
            </div>
            <br>
            <button class="bookButton" type="submit">Book Hostel</button>
        </form>
    </div>
</div>