<div class="floorOptions">
    <label for="hostelfloors">SELECT FLOOR</label>
    <select name="floor" id="hostelfloors">
        <option value="1">1st Floor</option>
        <option value="2">2nd Floor</option>
        <option value="3">3rd Floor</option>
    </select>
</div>
