body{
    background-color: #6A9C89;
    color: #0F0F0F;
    /* display: grid;
    justify-content: center; */
    /* align-items: center; */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 50px 60px;
}

.form-container{
    background-color: #C1D8C3;
    display: grid;
    padding: 50px;
}

.inputdiv{
    display: flex;
    flex-direction: column;
    margin: 5vh;
    margin-left: 0px;
    width: 100%;
}

.buttions{
    margin-left: 0px;
    margin: 5vh;
    width: 100%;
}

label{
    font-weight: 10px;
    font-size: 15px;
}

input{
    height: 30px;
    width: 100%;
    font-size: large;
    border: 0px;
    border-color: #F5E8B7;
    border-radius: 3px;
}

.radioInput{
    width: 20px;
    height: 13px;
    margin-top: 10px;
}

.button{
    height: 40px;
    width: 70px;
    border-radius: 10px;
    background-color: blue;
    color: #F5E8B7;
}

img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

